# Preapre:

In [1]:
# imports: 
import pandas as pd
import numpy as np

In [2]:
# get the data frame
df = pd.read_csv('water_potability.csv')

In [3]:
#look at the data: 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

Inital Takeaways: 
- Need to correct the names to be lower case
- There are null values in the data
- Data types are are all the same

In [4]:
# How many null are there in the data? 
df.isnull().sum().sort_values(ascending = False)

Sulfate            781
ph                 491
Trihalomethanes    162
Hardness             0
Solids               0
Chloramines          0
Conductivity         0
Organic_carbon       0
Turbidity            0
Potability           0
dtype: int64

In [5]:
# function to create a datatable of nulls and the percentage that is missing
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    pct_missing = (num_missing / rows) 
    cols_missing = pd.DataFrame({'number_missing_rows': num_missing, 'percent_rows_missing': pct_missing})
    return cols_missing

In [6]:
# how big of a percent is this? 
nulls = nulls_by_col(df)
nulls.sort_values(by = 'percent_rows_missing', ascending = False)

                 number_missing_rows  percent_rows_missing
Sulfate                          781              0.238400
ph                               491              0.149878
Trihalomethanes                  162              0.049451
Hardness                           0              0.000000
Solids                             0              0.000000
Chloramines                        0              0.000000
Conductivity                       0              0.000000
Organic_carbon                     0              0.000000
Turbidity                          0              0.000000
Potability                         0              0.000000

For this first iteration, I will drop the columns. It is not scientifically accurate to impute the values beacuse I do not have a baseline average based on the body of water nor is it ethical to impute values that may impact the outcome of water quality that could impact health. <br>
I dont want to drop the entire column of sulfates either because it could be an important factor to water potabilty

In [7]:
# drop null values
df = df.dropna()

In [8]:
# what does the new data frame look like?
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2011 entries, 3 to 3271
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2011 non-null   float64
 1   Hardness         2011 non-null   float64
 2   Solids           2011 non-null   float64
 3   Chloramines      2011 non-null   float64
 4   Sulfate          2011 non-null   float64
 5   Conductivity     2011 non-null   float64
 6   Organic_carbon   2011 non-null   float64
 7   Trihalomethanes  2011 non-null   float64
 8   Turbidity        2011 non-null   float64
 9   Potability       2011 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 172.8 KB

In [9]:
# lowercase the column names
df.columns = df.columns.str.lower()

In [10]:
# look at the column names: 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2011 entries, 3 to 3271
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2011 non-null   float64
 1   hardness         2011 non-null   float64
 2   solids           2011 non-null   float64
 3   chloramines      2011 non-null   float64
 4   sulfate          2011 non-null   float64
 5   conductivity     2011 non-null   float64
 6   organic_carbon   2011 non-null   float64
 7   trihalomethanes  2011 non-null   float64
 8   turbidity        2011 non-null   float64
 9   potability       2011 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 172.8 KB

In [11]:
df.head()

,ph,hardness,solids,chloramines,sulfate,conductivity,organic_carbon,trihalomethanes,turbidity,potability
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0

In [12]:
# i want to rouond the data to only be 2 decimal points: 
df = df.round(2)

In [13]:
df.head()

,ph,hardness,solids,chloramines,sulfate,conductivity,organic_carbon,trihalomethanes,turbidity,potability
3,8.32,214.37,22018.42,8.06,356.89,363.27,18.44,100.34,4.63,0
4,9.09,181.10,17978.99,6.55,310.14,398.41,11.56,32.00,4.08,0
5,5.58,188.31,28748.69,7.54,326.68,280.47,8.40,54.92,2.56,0
6,10.22,248.07,28749.72,7.51,393.66,283.65,13.79,84.60,2.67,0
7,8.64,203.36,13672.09,4.56,303.31,474.61,12.36,62.80,4.40,0

In [14]:
# data looks good so lets make a function: 
def prep_water(df): 
    '''
    This function should take in the water potability df, it will: 
    - Drop null columns
    - Rename the columns to have all lowercase
    '''
    df = df.dropna()
    df.columns = df.columns.str.lower()
    df = df.round(2)
    return df

In [15]:
#check that the function does what i want: 
df = prep_water(pd.read_csv('water_potability.csv'))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2011 entries, 3 to 3271
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2011 non-null   float64
 1   hardness         2011 non-null   float64
 2   solids           2011 non-null   float64
 3   chloramines      2011 non-null   float64
 4   sulfate          2011 non-null   float64
 5   conductivity     2011 non-null   float64
 6   organic_carbon   2011 non-null   float64
 7   trihalomethanes  2011 non-null   float64
 8   turbidity        2011 non-null   float64
 9   potability       2011 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 172.8 KB

# Creating Bins:

In [39]:
df['solids_range'] = pd.cut(df.solids, [0, 300, 600, 900, 1200, 57000], \
                            labels=['excellent', 'good', 'fair', 'poor', 'unacceptable'])

In [38]:
df.solids.describe()

count     2011.000000
mean     21917.441243
std       8642.239802
min        320.940000
25%      15615.665000
50%      20933.510000
75%      27182.585000
max      56488.670000
Name: solids, dtype: float64

In [36]:
df.solids_range.value_counts()

unacceptable    18
good             1
poor             1
excellent        0
fair             0
Name: solids_range, dtype: int64

In [40]:
# bins for ph: 
df['ph_range'] = pd.cut(df.ph, [0,6.5,8.5,14], \
                           labels = ['acidic', 'safe', 'basic'])
df['hardness_range'] = pd.cut(df.hardness, [0,17.1,60,120,180,372], \
                                 labels = ['soft', 'slightly_hard','moderately_hard','hard','very_hard'])
df['solids_range'] = pd.cut(df.solids, [0,300,600,900,1200,57000], \
                               labels = ['excellent','good','fair','poor','unaceptable'])
df['chloramines_range'] = pd.cut(df.chloramines, [0,4,14], \
                                labels = ['safe','high'])
df['sulfate_range'] = pd.cut(df.sulfate, [0,250,482 ], \
                      labels = ['safe', 'high'])
df['conductivity_rage'] = pd.cut(df.conductivity, [0,400,1000], \
                                labels = ['safe', 'high'])
df['organic_car_range'] = pd.cut(df.organic_carbon, [0,3,30], \
                                labels = ['safe','high'])
df['trihalomethanes_range'] = pd.cut(df.trihalomethanes, [0,80,125], \
                                    labels = ['safe', 'high'])
df['turbidity_range'] = pd.cut(df.turbidity, [0,5.0, 7], \
                              labels = ['safe','high'])

In [42]:
df

,ph,hardness,solids,chloramines,sulfate,conductivity,organic_carbon,trihalomethanes,turbidity,potability,solids_range,chloramines_range,ph_range,hardness_range,sulfate_range,conductivity_rage,organic_car_range,trihalomethanes_range,turbidity_range
3,8.32,214.37,22018.42,8.06,356.89,363.27,18.44,100.34,4.63,0,unaceptable,high,safe,very_hard,high,safe,high,high,safe
4,9.09,181.10,17978.99,6.55,310.14,398.41,11.56,32.00,4.08,0,unaceptable,high,basic,very_hard,high,safe,high,safe,safe
5,5.58,188.31,28748.69,7.54,326.68,280.47,8.40,54.92,2.56,0,unaceptable,high,acidic,very_hard,high,safe,high,safe,safe
6,10.22,248.07,28749.72,7.51,393.66,283.65,13.79,84.60,2.67,0,unaceptable,high,basic,very_hard,high,safe,high,high,safe
7,8.64,203.36,13672.09,4.56,303.31,474.61,12.36,62.80,4.40,0,unaceptable,high,basic,very_hard,high,high,high,safe,safe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3267,8.99,215.05,15921.41,6.30,312.93,390.41,9.90,55.07,4.61,1,unaceptable,high,basic,very_hard,high,safe,high,safe,safe
3268,6.70,207.32,17246.92,7.71,304.51,329.27,16.22,28.88,3.44,1,unaceptable,high,safe,very_hard,high,safe,high,safe,safe
3269,11.49,94.81,37188.83,9.26,258.93,439.89,16.17,41.56,4.37,1,unaceptable,high,basic,moderately_hard,high,high,high,safe,safe
3270,6.07,186.66,26138.78,7.75,345.70,415.89,12.07,60.42,3.67,1,unaceptable,high,acidic,very_hard,high,high,high,safe,safe
3271,4.67,193.68,47580.99,7.17,359.95,526.42,13.89,66.69,4.44,1,unaceptable,high,acidic,very_hard,high,high,high,safe,safe

In [43]:
df.solids_range.value_counts()

unaceptable    2009
good              1
poor              1
excellent         0
fair              0
Name: solids_range, dtype: int64

In [ ]:
def safe_water(df):
    '''
    This function will create bins for what is recomended as safe
    '''