# Preapre:

In [1]:
# imports: 
import pandas as pd
import numpy as np

In [3]:
# get the data frame
df = pd.read_csv('water_potability.csv')

In [4]:
#look at the data: 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

Inital Takeaways: 
- Need to correct the names to be lower case
- There are null values in the data
- Data types are are all the same

In [5]:
# How many null are there in the data? 
df.isnull().sum().sort_values(ascending = False)

Sulfate            781
ph                 491
Trihalomethanes    162
Hardness             0
Solids               0
Chloramines          0
Conductivity         0
Organic_carbon       0
Turbidity            0
Potability           0
dtype: int64

In [13]:
# function to create a datatable of nulls and the percentage that is missing
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    pct_missing = (num_missing / rows) 
    cols_missing = pd.DataFrame({'number_missing_rows': num_missing, 'percent_rows_missing': pct_missing})
    return cols_missing

In [14]:
# how big of a percent is this? 
nulls = nulls_by_col(df)
nulls.sort_values(by = 'percent_rows_missing', ascending = False)

                 number_missing_rows  percent_rows_missing
Sulfate                          781              0.238400
ph                               491              0.149878
Trihalomethanes                  162              0.049451
Hardness                           0              0.000000
Solids                             0              0.000000
Chloramines                        0              0.000000
Conductivity                       0              0.000000
Organic_carbon                     0              0.000000
Turbidity                          0              0.000000
Potability                         0              0.000000